[submodule "Libraries/Seeed-OPL-Library"]
	path = Libraries/Seeed-OPL-Library
	url = https://github.com/Seeed-Studio/OPL_Kicad_Library
	ignore = dirty
	
[submodule "Libraries/digikey-kicad-library"]
	path = Libraries/digikey-kicad-library
	url = https://github.com/digikey/digikey-kicad-library
[submodule "Libraries/myelin-kicad.pretty"]
	path = Libraries/myelin-kicad.pretty
	url = https://github.com/myelin/myelin-kicad.pretty
[submodule "Libraries/myelin-kicad-libraries"]
	path = Libraries/myelin-kicad-libraries
	url = https://github.com/myelin/myelin-kicad-libraries
